<!DOCTYPE html>
<html>
<head>
  <title>Hello World</title>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div>
  <% if (visitCount < 100) { %>
  <h2>This is your visit number: <%= visitCount %></h2>
  <% } else { %>
  <h2>You are the best visitor or are you a 31337 hacker?!</h2>
  <% } %>
</div>
</body>
</html>
